In [56]:
import urllib.request
from bs4 import BeautifulSoup
import pandas as pd


url = "https://en.wikipedia.org/wiki/List_of_U.S._states_by_median_home_price"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, "lxml")
all_sortable_tables = soup.find_all('table', class_='wikitable sortable')
right_table = all_sortable_tables[0]
A=[]
B=[]
C=[]
right_table=soup.find_all('table',class_='wikitable sortable')
for row in right_table[0].findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        mlnk=cells[1].findAll('a')
        if mlnk[0].contents[0] != 'District of Columbia':
            A.append(cells[0].find(text=True).strip())
            B.append(mlnk[0].contents[0])
            C.append(cells[2].find(text=True).strip())
df=pd.DataFrame(A,columns=['State Rank'])
df['State or Teritory']=B
df['Median Home Price in US$']=C
df.head(10)

  State Rank State or Teritory Median Home Price in US$
0          1            Hawaii                 $636,451
1          2        California                 $554,886
2          3     Massachusetts                 $422,856
3          4        Washington                 $409,228
4          5          Colorado                 $397,820
5          6            Oregon                 $361,970
6          7              Utah                 $348,376
7          8        New Jersey                 $335,607
8          9          New York                 $321,934
9         10          Maryland                 $308,041